/places
/transient/
/recentf
/auto-save-list/
/recentf~
/eshell/
/image-dired/
/projectile-bookmarks.eld
/#init.el#
/eita.el~
/bookmarks
/url/
/tramp
/#a.hs#
/#%2AFlycheck%20error%20messages%2A#cCAeqF#
/.lsp-session-v1
/temp/
/.#.lsp-session-v1
/#functions.el#
/common-lisp.el~
/common.el~
/evil-setup.el~
/functions.el~
/gnus.el~
/gnus.org~
/haskell-setup.el~
/latex.el~
/modeline.el~
/options.el~
/org.el~
/rust-setup.el~
/#keybindings.el#
/cpp-setup.el~
/gnus-setup.el~
/lang/rust-racer.el~
/rust-setup-racer.el~
/lisp/lang/rust-racer.el~
